html{ min-height: 100%; }

body {
  font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
  color: #666;
  margin:auto;
  max-width:900px;
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

label {
  display:block;
}
