{% extends "dokumentor/base_dokumentor.html" %}

{% block content %}
{% if projects %}
<ul>
  {% for project in projects %}
  <li><a href="/dokumentor/projects/{{ project.id }}/" >{{ project.name }}</a> [{{ project.created_at }}]
    <a href="{% url 'projects:build_step' %}">Comment le fabriquer ?</a>
    <a href="/dokumentor/better_description/{{ project.id }}/" >Améliorer la description</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No Projects are available.</p>
{% endif %}

<a href='{% url 'projects:name_step' %}'>Documenter un projet</a>
{% endblock content %}
