{% extends "dokumentor/base_dokumentor.html" %}

{% block content %}
{% if projects %}
<ul>
  {% for project in projects %}
  <li><a href="{% url 'projects:view_project' project.id %}" >{{ project.name }}</a> [{{ project.created_at }}]
    <a href="{% url 'projects:build_step' project.id %}">Comment le fabriquer ?</a>
    <a href="{% url 'projects:better_description' project.id %}" >Améliorer la description</a>
    <a href="{% url 'projects:photo_step' project.id %}" >Ajouter des photos</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No Projects are available.</p>
{% endif %}

<a href='{% url 'projects:name_step' %}'>Documenter un projet</a>
{% endblock content %}
