{% extends "dokumentor/base_dokumentor.html" %}

{% block content %}
<p> new project </p>
<form method="post" action="{% url 'projects:create' %}">
  <p>
  <label>
    Nom
    <br>
    <input type="text" name="name" />
  </label>
  </p>
  <p>
  <label>
    Description
    <br>
    <textarea name="description"></textarea>
  </label>
  </p>
  <p>
  <label>
    Plan
    <br>
    <input type="file" name="plan" />
  </label>
  </p>
  <p>
  <input type="submit"/>
  </p>
</form>
{% endblock content %}
